---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Onpage AI SEO Chrome Extension - Former SimilarContent',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
<!-- WebApplication Schema Embedded ******************* -->
<div itemscope itemtype="https://schema.org/WebApplication">
  <meta itemprop="name" content="Onpage.ai SEO Chrome Extension" />
  <meta itemprop="installUrl" content="https://chromewebstore.google.com/detail/onpageai-seo-content-mana/ipeelalodbhkaoplodaaffepgaodpidh" />
  <meta itemprop="applicationCategory" content="SEO" />
  <meta itemprop="description" content="Onpage.ai is a Chrome extension designed for SEO content creation and competitive analysis." />
  <meta itemprop="browserRequirements" content="Google Chrome" />
  
  <!-- Screenshot of the application -->
  <meta itemprop="screenshot" content="https://lh3.googleusercontent.com/l5zUwNmT8rIXRhqd8-ypIvtbpcp-1IHDYacJMZfqZSwCIw_yoRNL7Qb38GtdIMgHwU68u3azDSUjbcP_VNifc9aqhg=s1280-w1280-h800" />
  
  <!-- Features list -->
  <meta itemprop="featureList" content="On-Page SEO Analysis, PAA Content Tool, Webdraft Tool, Topic Clustering & Modeling" />

  <!-- Price information -->
  <div itemprop="offers" itemscope itemtype="https://schema.org/Offer">
    <meta itemprop="price" content="0.00" />
    <meta itemprop="priceCurrency" content="USD" />
  </div>

  <!-- Aggregate Rating -->
  <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="4.7" />
    <meta itemprop="bestRating" content="5" />
  </div>

  <!-- Target Audience -->
  <div itemprop="audience" itemscope itemtype="https://schema.org/BusinessAudience">
    <meta itemprop="audienceType" content="Small businesses" />
  </div>

  <!-- Creator Information -->
  <div itemprop="creator" itemscope itemtype="https://schema.org/Organization">
    <meta itemprop="name" content="Mu3lnen LLC" />
  </div>

  <!-- Additional Details -->
  <div itemprop="about" itemscope itemtype="https://schema.org/Thing">
    <meta itemprop="name" content="SEO Content Creation, Competitive Analysis" />
  </div>
</div>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Add to Chrome',
        href: 'https://chromewebstore.google.com/detail/onpageai-seo-content-mana/ipeelalodbhkaoplodaaffepgaodpidh',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Get a Pro License', href: '/pricing/' },
    ]}
    image={{ src: '~/assets/images/onpage-ai-infographic-fixed.png', alt: 'Onpage.ai more info' }}
  >
    <Fragment slot="title">
      Onpage.ai <span class="hidden xl:inline">SEO Chrome Extension for </span>
<span class="text-accent dark:text-white highlight">SEO Content Creation</span> & Competitive Analysis.
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Onpage.ai</span> is a free, AI-powered, and production-ready Chrome extension for SEO analysis and content creation.</span
>
<span class="block mb-1 sm:hidden font-bold text-blue-600">Onpage.ai: Transform your SEO strategy.</span>
Ideal for Digital Marketers, SEO Specialists, Content Creators, Bloggers, and E-commerce Sites.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Features"
    title="The All-in-One SEO Toolkit Features"
    subtitle="What You Get with OnPage.ai Harness the power of our advanced SEO tools, designed to provide a comprehensive SEO solution in a single, easy-to-use extension."
    items={[
      {
        title: 'On-Page SEO Analysis',
        description:
          'Analyze critical SEO metrics, including Page Title, Meta Description, Headings, Text/HTML Ratio, Images and Links Count, and Keyword Density. Gain insights on any webpage and save reports as HTML files for future reference.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Webdraft Tool',
        description:
          'Quickly gather and organize content snippets from across the web. Perfect for content curation and aggregation, similar to Google Keep or Microsoft OneNote.',
        icon: 'tabler:world-www',
      },
      {
        title: 'PAA Content Tool',
        description:
          'Extract Google’s "People Also Ask" questions and answers to fuel content ideation, keyword targeting, and snippet optimization. Rewrite content and generate unique PAA-based content to match user intent and boost SEO rankings.',
        icon: 'tabler:question-mark',
      },
      {
        title: 'Topic Clustering & Modeling',
        description:
          'Visualize SEO strategies with AI-generated topic clusters in mindmap format. Analyze top search results to see key subtopics covered by competitors, enhancing your keyword strategy, SEO alignment, and mobile optimization.',
        icon: 'tabler:list-check',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="Inside Onpage.ai Extension"
    title="From Vision to Execution: Craft Your Competitive Edge!"
    items={[
      {
        title: 'Gain a Competitive Edge in Content Strategy',
        description:
          'Leverage industry-leading features to compile and structure content quickly, giving you a complete view on any topic and a head start in content creation.',
      },
      {
        title: 'Optimized for High Performance and User-Friendliness',
        description:
          'Leverage industry-leading features to compile and structure content quickly, giving you a complete view on any topic and a head start in content creation.',
      },
      {
        title: 'Streamlined for Rapid Note-Taking and Organizing',
        description:
          'The Webdraft Tool’s interface is designed to be intuitive and fast, allowing users to capture, annotate, and categorize content instantly.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Flexible Content Management</h3>
      Tailor OnPage.ai to fit your unique SEO needs, saving time while boosting your digital presence.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Build Authority with Strategic Topic Clustering',
        description: `The Topic Clustering Tool empowers your SEO by structuring content around key themes, helping to establish your site as an authoritative resource in your niche.`,
      },
      {
        title: 'Tailored Topic Modeling',
        description:
          'Leverage AI-driven topic clusters that align with your brand’s focus, saving time and ensuring your content stands out while meeting SEO best practices.',
      },
      {
        title: 'Flexible Content Organization',
        description:
          "Create structured topic clusters that enhance user engagement and improve navigation, helping visitors easily explore related content.",
      },
      {
        title: 'In-depth Analysis and Visualization',
        description:
          'Visualize content gaps and competitive insights with mindmap views, providing an organized structure for multimedia elements and enriched content that appeals to both users and search engines.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Organize Your Content for Maximum SEO Impact.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Boost Your SEO with Targeted Content',
        description:
          'The PAA Content Tool helps you align your content with user intent by directly pulling “People Also Ask” questions and answers from Google, giving you immediate insights into what your audience wants to know.',
      },
      {
        title: 'Customizable Content Generation',
        description:
          'Rewrite and transform PAA data into unique, optimized content. Tailor it to match your brand’s voice and style, saving time while making your content more engaging and relevant.',
      },
      {
        title: 'Content Structuring Options',
        description:
          'Use PAA questions to create structured, informative layouts that enhance user engagement. Integrate these questions as subheadings or supporting sections, providing a rich experience for your audience.',
      },
      {
        title: 'Responsive for High SEO Impact',
        description: `The PAA Content Tool ensures your SEO efforts are effective across all devices, maximizing visibility and delivering consistent performance for mobile and desktop users alike.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Empower Your Content Strategy with User-Centric Insights.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Create SEO-Driven Content with OnPage.ai in Just a Few Steps."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Capture and Organize Ideas</span>',
        description:
          "Use the Webdraft Tool to clip and organize content snippets, notes, and ideas from across the web. Create a well-rounded view of your target topic, ideal for content curation and planning.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Generate PAA-Based Content</span>',
        description:
          "Scrape “People Also Ask” (PAA) questions from Google using the PAA Content Tool. Rewrite and customize these insights to target long-tail keywords, enrich your content, and match user search intent.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Build Topic Clusters</span>',
        description:
          'Visualize and organize content into clusters using the Topic Clustering Tool. Generate a mindmap of related topics, helping you structure content around key themes for stronger SEO impact.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog serves as a hub for OnPage.ai resources and guides. Each article is designed to enhance your expertise in SEO and content optimization, helping you make the most of OnPage.ai’s powerful tools. Stay tuned for insights, tips, and best practices to elevate your SEO strategy.
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Was OnPage.ai previously known as SimilarContent.com, and can old AppSumo LTD customers still use the new extension?',
        description:
          "Absolutely yes! Previous LTD customers from AppSumo still have full access to OnPage.ai. Plus, as a thank you for your loyalty, we’ve sent an extra gift to your email. If you’ve been an AppSumo client since 2020, please check your inbox to find our special offer!",
      },
      {
        title: 'What is OnPage.ai, and how can it help my SEO?',
        description:
          'OnPage.ai is a comprehensive Chrome extension designed to simplify SEO analysis, content curation, and topic clustering. It helps you understand competitor strategies, optimize on-page elements, and create content that aligns with user search intent.',
      },
      {
        title: 'Do I need any special requirements to install OnPage.ai?',
        description:
          "Yes, to fully utilize OnPage.ai, you'll need: A licensed email associated with your OnPage.ai account, An OpenAI API key for AI-driven features, Access to our server developer API. Once set up, you can perform unlimited analyses, topic clustering, and PAA content generation using the extension.",
      },
      {
        title: "How many devices can I use the OnPage.ai extension on?",
        description:
          "The number of devices depends on the license you purchase. Each license allows usage on anywhere from 1 to 5 devices. Choose the plan that best suits your needs.",
      },
      {
        title: 'Where is the SEO analysis data saved when I use the OnPage.ai extension?',
        description:
          "All data is saved in your local storage, and we have no access to your information. Your API keys are securely stored and used locally within the extension, ensuring that no data is shared or revealed to any third party.",
      },
      {
        title: 'What kind of support is available if I need help?',
        description:
          "You can reach out to us in several ways: Facebook Group: Join our community at fb.com/groups/onpage for support and tips, YouTube Channel: Watch tutorials and get updates at youtube.com/onpageai, Email: Contact us directly at support [at] onpage.ai for personalized assistance. We’re here to help you make the most of OnPage.ai!",
      },
    ]}
  />
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "FAQPage",
  "mainEntity": [
    {
      "@type": "Question",
      "name": "Was OnPage.ai previously known as SimilarContent.com, and can old AppSumo LTD customers still use the new extension?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Absolutely yes! Previous LTD customers from AppSumo still have full access to OnPage.ai. Plus, as a thank you for your loyalty, we’ve sent an extra gift to your email. If you’ve been an AppSumo client since 2020, please check your inbox to find our special offer!"
      }
    },
    {
      "@type": "Question",
      "name": "What is OnPage.ai, and how can it help my SEO?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "OnPage.ai is a comprehensive Chrome extension designed to simplify SEO analysis, content curation, and topic clustering. It helps you understand competitor strategies, optimize on-page elements, and create content that aligns with user search intent."
      }
    },
    {
      "@type": "Question",
      "name": "Do I need any special requirements to install OnPage.ai?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "Yes, to fully utilize OnPage.ai, you'll need: A licensed email associated with your OnPage.ai account, An OpenAI API key for AI-driven features, Access to our server developer API. Once set up, you can perform unlimited analyses, topic clustering, and PAA content generation using the extension."
      }
    },
    {
      "@type": "Question",
      "name": "How many devices can I use the OnPage.ai extension on?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "The number of devices depends on the license you purchase. Each license allows usage on anywhere from 1 to 5 devices. Choose the plan that best suits your needs."
      }
    },
    {
      "@type": "Question",
      "name": "Where is the SEO analysis data saved when I use the OnPage.ai extension?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "All data is saved in your local storage, and we have no access to your information. Your API keys are securely stored and used locally within the extension, ensuring that no data is shared or revealed to any third party."
      }
    },
    {
      "@type": "Question",
      "name": "What kind of support is available if I need help?",
      "acceptedAnswer": {
        "@type": "Answer",
        "text": "You can reach out to us in several ways: Facebook Group: Join our community at fb.com/groups/onpage for support and tips, YouTube Channel: Watch tutorials and get updates at youtube.com/onpageai, Email: Contact us directly at support [at] onpage.ai for personalized assistance. We’re here to help you make the most of OnPage.ai!"
      }
    }
  ]
}
</script>

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'SEO Analyses Conducted', amount: '7K+' },
      { title: 'Keywords Optimized', amount: '24.8K' },
      { title: 'PAA Questions Collected', amount: '10.3K' },
      { title: 'Global Users', amount: '3K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Add to Chrome',
        href: 'https://chromewebstore.google.com/detail/onpageai-seo-content-mana/ipeelalodbhkaoplodaaffepgaodpidh',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Onpage.AI&nbsp;+&nbsp;<br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Chrome Extension</span>
    </Fragment>

    <Fragment slot="subtitle">
      Join thousands of users who trust OnPage.ai to enhance their SEO strategy and boost their online presence. Don’t miss out on the tools that can make a real difference in your content’s performance! :P
    </Fragment>
  </CallToAction>
</Layout>
